<h3>Catálogo</h3>

<div id="my-carousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_001.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">ASP.NET Core MVC</div>
                            <div><h4><strong>R$ 69,90</strong></h4></div>
                            <div class="text-center">
                                <a href="/" class="btn btn-success">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_035.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">PostgreSQL</div>
                            <div><h4><strong>R$ 69,90</strong></h4></div>
                            <div class="text-center">
                                <a href="/" class="btn btn-success">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_036.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Business Intelligence</div>
                            <div><h4><strong>R$ 69,90</strong></h4></div>
                            <div class="text-center">
                                <a href="/" class="btn btn-success">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_037.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Seguran&#xE7;a</div>
                            <div><h4><strong>R$ 69,90</strong></h4></div>
                            <div class="text-center">
                                <a href="/" class="btn btn-success">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="item ">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_038.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">gest&#xE3;o de produtos</div>
                            <div><h4><strong>R$ 69,90</strong></h4></div>
                            <div class="text-center">
                                <a href="/" class="btn btn-success">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_039.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Algoritmos em Java</div>
                            <div><h4><strong>R$ 69,90</strong></h4></div>
                            <div class="text-center">
                                <a href="/" class="btn btn-success">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_040.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Xamarin Forms</div>
                            <div><h4><strong>R$ 69,90</strong></h4></div>
                            <div class="text-center">
                                <a href="/" class="btn btn-success">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_041.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Big Data</div>
                            <div><h4><strong>R$ 69,90</strong></h4></div>
                            <div class="text-center">
                                <a href="/" class="btn btn-success">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#my-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#my-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>